<div class="col-sm-12 product-box" data-sku="{{sku}}">
    <section class="mini-content">
        <figure class="col-sm-1">
            <img width="100%" src="{{image}}" alt="{{name}}">
        </figure>
        <section class="col-sm-7">
            <h5>{{name}}</h5>
        </section>
        <div class="col-sm-3">
            <p class="salePrice"><strong>${{price}}</strong></p>
        </div>
        <div class="col-sm-1">
            <div class="arrow">
                <i class="fa fa-angle-down"></i>
            </div>
        </div>
    </section>
    <section class="details">
        <div class="row">
            <h3>{{name}}</h3>
            <div class="col-md-6">
                <img src="{{image}}" alt="{{name}}">
            </div>
            <div class="col-md-6">
                <section id="product-description">
                    <h4>Overview</h4>
                    <p>{{description}}</p>
                    <div id="product-info">
                        <p><strong>SKU:</strong><span> {{sku}}</span></p>
                    </div>
                    <button class="btn btn-primary btn-success">Buy Item</button>
                </section>
            </div>
        </div>
    </section>
</div>