<!--
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h2 id="productName">{{name}}</h2>
            <h2 id="price">${{salePrice}}</h2>
            <a target="_blank" href="{{productUrl}}" class="btn btn-primary">View Product</a>
            <section id="product-description">
                <h4>Overview</h4>
                <p>{{shortDescription}}</p>
                <div id="product-info">
                    <p><strong>SKU:</strong><span> {{sku}}</span></p>
                    <p><strong>Manufacturer:</strong><span> {{manufacturer}}</span></p>
                    <p><strong>Model Number:</strong><span> {{modelNumber}}</span></p>
                    <p><strong>Product Type:</strong><span> {{productType}}</span></p>
                </div>
            </section>
        </div>
    </div>
</div>-->


<div class="row">
    <h3>{{name}}</h3>
    <div class="col-md-6">
        <img src="{{thumbnailImage}}" alt="{{name}}">
    </div>
    <div class="col-md-6">
        <section id="product-description">
                <h4>Overview</h4>
                <p>{{shortDescription}}</p>
                <div id="product-info">
                    <p><strong>SKU:</strong><span> {{sku}}</span></p>
                    <p><strong>Manufacturer:</strong><span> {{manufacturer}}</span></p>
                    <p><strong>Model Number:</strong><span> {{modelNumber}}</span></p>
                    <p><strong>Product Type:</strong><span> {{productType}}</span></p>
                </div>
            </section>
    </div>
</div>